---
layout: default
---
<article class="entry">
  {% if page.collection == "posts" %}
  <h2 class="date">{{ page.date | date: "%B %-d, %Y" | upcase }}</h2>
  <h1 class="entry-title">{{ page.title }}</h1>
  {% else %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  <div class="body">
{{ content }}
    {% if page.link %}
      {% if page.description %}<p>{{ page.description }}</p>{% endif %}
      <p class="more"><a href="{{ page.link | relative_url }}">풀러 가기</a></p>
    {% endif %}
  </div>
</article>
